<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {include file="public:top"}
    <block name="topCss"></block>
</head>

<body class="app ">

    <div id="spinner"></div>

    <div id="app">
        <div class="main-wrapper" >
            {include file="public:header"}
            {include file="public:menu"}
            <block name="bodsy"></block>
        </div>
    </div>
    {include file="public:js"}
    <block name="js"></block>
</body>
</html>
