<aside class="app-sidebar">
    <div class="app-sidebar__user">
        <div class="dropdown">
            <a class="nav-link pl-2 pr-2 leading-none d-flex" data-toggle="dropdown" href="#">
                <img alt="image" src="__STATIC__/img/avatar/avatar-1.jpeg.jpg" class=" avatar-md rounded-circle">
                <span class="ml-2 d-lg-block">
                    <span class="text-white app-sidebar__user-name mt-5">后台管理</span><br>
                    <span class="text-muted app-sidebar__user-name text-sm"> {$Think.session.admin_name}</span>
                </span>
            </a>
        </div>
    </div>
    <ul class="side-menu">
        <li class="slide">
            <a class="side-menu__item"  data-toggle="slide" href="#"><i class="side-menu__icon fa fa-desktop"></i><span class="side-menu__label">账号管理</span><i class="angle fa fa-angle-right"></i></a>
            <ul class="slide-menu">
                <li><a class="slide-item"  href="{:url('user/index')}"><span>密码修改</span></a></li>
                <li><a class="slide-item"  href="{:url('user/index')}"><span>头像更改</span></a></li>
            </ul>
        </li>
        <li class="slide">
            <a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon fa fa-tasks"></i><span class="side-menu__label">文章管理</span><i class="angle fa fa-angle-right"></i></a>
            <ul class="slide-menu">
                <li><a href="{:url('type/index')}" class="slide-item"> 分类列表</a></li>
                <li><a href="{:url('article/index')}" class="slide-item"> 文章列表</a></li>
            </ul>
        </li>
    </ul>
</aside>