<title>{$title|default='后台管理系统'}</title>

<!--Favicon -->
<!-- <link rel="icon" href="__STATIC__/img/favicon.ico" type="image/x-icon"/> -->

<!--Bootstrap.min css-->
<link rel="stylesheet" href="__STATIC__/plugins/bootstrap/css/bootstrap.min.css">

<!--Icons css-->
<link rel="stylesheet" href="__STATIC__/css/icons.css">

<!--Style css-->
<link rel="stylesheet" href="__STATIC__/css/style.css">

<!--mCustomScrollbar css-->
<link rel="stylesheet" href="__STATIC__/plugins/scroll-bar/jquery.mCustomScrollbar.css">

<!--Sidemenu css-->
<link rel="stylesheet" href="__STATIC__/plugins/toggle-menu/sidemenu.css">

<!--Chartist css-->
<link rel="stylesheet" href="__STATIC__/plugins/chartist/chartist.css">
<link rel="stylesheet" href="__STATIC__/plugins/chartist/chartist-plugin-tooltip.css">

<!--Full calendar css-->
<link rel="stylesheet" href="__STATIC__/plugins/fullcalendar/stylesheet1.css">

<!--Toastr css-->
<link rel="stylesheet" href="__STATIC__/plugins/toastr/build/toastr.css">
<link rel="stylesheet" href="__STATIC__/plugins/toaster/garessi-notif.css">



<!--&lt;!&ndash;morris css&ndash;&gt;-->
<!--<link rel="stylesheet" href="__STATIC__/plugins/morris/morris.css">-->